
body{
    background-color: rgb(223, 223, 223);
}

.firstTitle{
    font-size: 60px;
    font-family: 'Bangers', cursive;
    font-style: normal;
    padding-left: 30px;
    padding-bottom: 20px;
    text-decoration: underline red;
    
}

.Menu{
    font-size: 23px;
    font-style: normal;
    padding: 0px 120px 0 0px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Bangers', cursive;
}

     
.endPage{
    font-size: 20px;
    font-style: normal;
    padding: 20px;
    padding-left: 20px;
    font-family: 'Bangers', cursive;
    margin: 8px 8px;
}

main{
    font-size: 20px;
    font-style: normal;
    padding: 20px;
    padding-left: 20px;
    margin: 18px;
    font-family: 'DM Sans', sans-serif;
}

.lupa{
    height: 24px;
}

.ps4Flex{
    padding: 0px 80px 0 80px;
    margin: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ps5Flex{
    padding: 0px 80px 0 80px;
    margin: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.switchFlex{
    padding: 0px 80px 0 80px;
    margin: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.consoleFlex{
    padding: 0px 80px 0 80px;
    margin: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.newsFlex{
    padding: 0px 80px 0 80px;
    margin: 20px;
}


.consoleMenu{
    font-size: 32px;
    font-style: normal;
    padding: 20px 0 20px 0;
    text-decoration: underline black;
    margin: 16px 16px;
}

.consoleImage{
    height: 140px;
    width: 140px;
    padding: 12px;
    margin: 12px;
}

.accesoriesImage{
    height: 140px;
    width: 140px;
    padding: 12px;
    margin: 12px;
}

.gamesImage{
    height: 140px;
    width: 140px;
    padding: 12px;
    margin: 12px;
}

.games{
    font-size: 44px;
    text-decoration: underline black;
}

.consoles{
    font-size: 44px;
    text-decoration: underline black;
}

.accesories{
    font-size: 44px;
    text-decoration: underline black;
}

.news{
    font-size: 44px;
    text-decoration: underline black;
    padding: 20px;
    margin: 20px;
}

.principalImage{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.kindredImage{
    padding: 40px;
    margin: 40px;
    width: 800px;
    max-width: 100%;
    height: 450px;
}


ol{
    list-style: none;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.topGames{
    font-size: 30px;
    font-style: normal;
    padding: 8px 0 8px 0;
    text-decoration: underline black;
    margin: 8px 8px;
}

.gamesList{
    font-size: 28px;
    font-style: normal;
    padding-right: 40px;
    margin: 16px;
}

.accesoriesList{
    font-size: 28px;
    font-style: normal;
    margin: 16px;
}

.consoleList{
    font-size: 28px;
    font-style: normal;
    margin: 16px;
}

.youtubeGames{
    font-size: 12px;
    font-style: normal;
    margin-left: auto;
    padding-right: auto;
    margin: 12px;
    width: 800px;
    max-width: 150%;
    height: 400px;
    max-height: 100%;
    padding: 20px;
    margin: 20px;
}

.gamesInfo{
    padding: 20px;
    margin: 20px;
}


.medios{
    grid-area: medios;
    text-align: justify;
}

.metodos{
    grid-area: metodos;
}

.copyright{
    grid-area: copyright;
}

.horario{
    grid-area: horario;
    padding-left: 40px;
}

.mapa{
    grid-area: mapa;
    margin: 8px;
    padding-right: 20px;
    padding-top: 20px;
    width: 800px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
}

.slideIndex{
    height: 420px;
    width: 1024px;
    padding: 20px;
    margin: 20px;
}

.buttonColor{
    color: #000;
}

.endPage{
    display: grid;
    grid-template-areas: 
    "mapa medios medios"
    "mapa metodos metodos"
    "horario copyright copyright";
}

@media screen and (max-width: 480px) {
    .Menu{
        flex-direction: column;
    }

    .kindredImage{
        display: none;
    }

}

@media screen and (max-width: 480px) {
    
    .ps4Flex{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .ps5Flex{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .switchFlex{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .consoleFlex{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }


    .medios{
        display: none;
    }

    .metodos{
        display: none;
    }

    .copyright{
        display: none;
    }
    
    .endPage{
        display: grid;
        grid-template-areas:
        "mapa"
        "mapa"
        "horario";
    }
    
}

@media screen and (max-width: 768px) {
    
    .ps4Flex{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .ps5Flex{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .switchFlex{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .consoleFlex{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .medios{
        display: none;
    }

    .metodos{
        display: none;
    }

    .copyright{
        display: none;
    }
    
    .endPage{
        display: grid;
        grid-template-areas:
        "mapa"
        "mapa"
        "horario";
    }
    
}

