@charset "UTF-8";
.consoleFlex, .switchFlex, .ps5Flex, .ps4Flex {
  padding: 0px 80px 0 80px;
  margin: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

body {
  background-color: rgb(223, 223, 223);
  overflow-x: hidden;
}

header h1 {
  font-size: 60px;
  font-family: "Bangers", cursive;
  font-style: normal;
  padding-left: 30px;
  padding-bottom: 20px;
  color: black;
  text-decoration: none;
  text-decoration: underline rgb(207, 33, 33);
}
header nav {
  font-size: 23px;
  font-style: normal;
  padding: 0px 120px 0 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Bangers", cursive;
}
@media screen and (max-width: 480px) {
  header nav {
    flex-direction: column;
  }
}

.firstTitle {
  color: black;
  text-decoration: underline rgb(207, 33, 33);
}

.firstTitle:hover {
  color: black;
}

.slideIndex {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  margin: 20px;
}

footer {
  font-style: normal;
  padding: 20px;
  padding-left: 20px;
  font-family: "Bangers", cursive;
  margin: 8px 8px;
}

.carrito {
  height: 28px;
}

.lupa {
  height: 24px;
}

.instagram {
  height: 60px;
  padding: 0px;
  list-style: none;
}

.instagram:hover {
  background-color: #cc2199;
}

.facebook {
  height: 60px;
  align-content: flex-start;
}

.facebook:hover {
  background-color: #3b5998;
}

.youtube {
  height: 60px;
}

.youtube:hover {
  background-color: #c4302b;
}

.slideIndex {
  padding: 20px;
  margin: 20px;
}

.informaciónUtil {
  grid-area: información;
  font-size: 28px;
  text-align: justify;
  padding-top: 40px;
}

.contacto {
  grid-area: contacto;
  font-size: 28px;
  text-align: justify;
  padding-top: 40px;
}

.copyright {
  grid-area: copyright;
  padding-left: 36px;
}

.linksFooter {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.linksFooter:hover {
  text-decoration: none;
  color: white;
}

.redes {
  grid-area: redes;
  font-size: 28px;
  text-align: justify;
  padding-top: 40px;
}

.mapa {
  grid-area: mapa;
  margin: 8px;
  padding-right: 120px;
  padding-top: 20px;
  width: 800px;
  max-width: 100%;
  height: 360px;
  max-height: 100%;
}

.endPage {
  display: grid;
  grid-template-areas: "mapa información contacto redes" "mapa información contacto redes" "mapa copyright copyright copyright";
}

.mediaFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

@media screen and (max-width: 480px) {
  .mapa {
    width: 100%;
  }
  .endPage {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .mapa {
    width: 100%;
  }
  .endPage {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
.topGames {
  font-size: 30px;
  font-style: normal;
  padding: 8px 0 8px 0;
  text-decoration: underline black;
  margin: 8px 8px;
}

.youtubeGames {
  font-size: 12px;
  font-style: normal;
  margin-left: auto;
  padding-right: auto;
  width: 800px;
  max-width: 150%;
  height: 400px;
  max-height: 100%;
  padding: 20px;
  margin: 20px;
}
@media screen and (max-width: 480px) {
  .youtubeGames {
    height: 400px;
    width: 100%;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .youtubeGames {
    height: 400px;
    width: 100%;
    padding-right: 40px;
  }
}

.news {
  font-size: 44px;
  text-decoration: underline black;
  padding: 20px;
  margin: 20px;
}

.gamesInfo {
  padding: 20px;
  margin: 20px;
}

.price {
  padding: 20px;
  margin: 20px;
}

h3 {
  font-size: 44px;
  text-decoration: underline black;
  padding: 40px;
}

@media screen and (max-width: 480px) {
  .ps4Flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .ps4Flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .ps5Flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .ps5Flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .switchFlex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .switchFlex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

.consoleMenu {
  font-size: 32px;
  font-style: normal;
  padding: 40px;
  text-decoration: underline black;
  margin: 16px 16px;
}

.gamesImage {
  height: 220px;
  width: 200px;
  padding: 12px;
  margin: 12px;
}

.gamesList {
  font-size: 18px;
  font-style: normal;
}

.cardSize {
  transition: transform 0.2s;
  height: 440px;
  outline: none;
  box-sizing: border-box;
  width: 240px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .cardSize {
    margin: 20px;
    height: 440px;
  }
}
@media screen and (max-width: 768px) {
  .cardSize {
    margin: 20px;
    height: 440px;
  }
}

.cardSize:hover {
  transform: scale(1.1);
}

.cardButton {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cardButton:hover {
  opacity: 0.7;
}

.kindredImage {
  padding: 40px;
  margin: 40px;
  width: 800px;
  max-width: 100%;
  height: 450px;
}

.principalImage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .consoleFlex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .consoleFlex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}

.consoleList {
  font-size: 18px;
  font-style: normal;
}

.accesories {
  font-size: 44px;
  text-decoration: underline black;
}

.accesoriesImage {
  height: 220px;
  width: 220px;
  padding: 12px;
  margin: 12px;
}

.accesoriesList {
  font-size: 18px;
  font-style: normal;
}

.formulario {
  font-size: 20px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.sendBottom {
  color: white;
  background-color: black;
  border-color: black;
  font-size: 26px;
}

.sendBottom:hover {
  opacity: 0.7;
}

body {
  background-color: rgb(223, 223, 223);
  overflow-x: hidden;
}

header h1 {
  font-size: 60px;
  font-family: "Bangers", cursive;
  font-style: normal;
  padding-left: 30px;
  padding-bottom: 20px;
  color: black;
  text-decoration: none;
  text-decoration: underline rgb(207, 33, 33);
}
header nav {
  font-size: 23px;
  font-style: normal;
  padding: 0px 120px 0 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Bangers", cursive;
}
@media screen and (max-width: 480px) {
  header nav {
    flex-direction: column;
  }
}

.firstTitle {
  color: black;
  text-decoration: underline rgb(207, 33, 33);
}

.firstTitle:hover {
  color: black;
}

.slideIndex {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  margin: 20px;
}

footer {
  font-style: normal;
  padding: 20px;
  padding-left: 20px;
  font-family: "Bangers", cursive;
  margin: 8px 8px;
}

.carrito {
  height: 28px;
}

.lupa {
  height: 24px;
}

.instagram {
  height: 60px;
  padding: 0px;
  list-style: none;
}

.instagram:hover {
  background-color: #cc2199;
}

.facebook {
  height: 60px;
  align-content: flex-start;
}

.facebook:hover {
  background-color: #3b5998;
}

.youtube {
  height: 60px;
}

.youtube:hover {
  background-color: #c4302b;
}

.slideIndex {
  padding: 20px;
  margin: 20px;
}

.informaciónUtil {
  grid-area: información;
  font-size: 28px;
  text-align: justify;
  padding-top: 40px;
}

.contacto {
  grid-area: contacto;
  font-size: 28px;
  text-align: justify;
  padding-top: 40px;
}

.copyright {
  grid-area: copyright;
  padding-left: 36px;
}

.linksFooter {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.linksFooter:hover {
  text-decoration: none;
  color: white;
}

.redes {
  grid-area: redes;
  font-size: 28px;
  text-align: justify;
  padding-top: 40px;
}

.mapa {
  grid-area: mapa;
  margin: 8px;
  padding-right: 120px;
  padding-top: 20px;
  width: 800px;
  max-width: 100%;
  height: 360px;
  max-height: 100%;
}

.endPage {
  display: grid;
  grid-template-areas: "mapa información contacto redes" "mapa información contacto redes" "mapa copyright copyright copyright";
}

.mediaFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

@media screen and (max-width: 480px) {
  .mapa {
    width: 100%;
  }
  .endPage {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .mapa {
    width: 100%;
  }
  .endPage {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
