.accesories{
    font-size: 44px;
    text-decoration: underline black;
}

.accesoriesImage{
    height: 220px;
    width: 220px;
    padding: 12px;
    margin: 12px;
}

.accesoriesList{
    font-size: 20px;
    font-style: normal;
}