.formulario{
    font-size: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.sendBottom{
    color: white;
    background-color: black;
    border-color: black;
    font-size: 26px;
}

.sendBottom:hover{
    opacity: 0.7;
}

.yourData{
    padding: 0px 80px 0 80px;
    margin: 5000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.yourOrder{
    padding: 0px 80px 0 80px;
    margin: 5000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.form__group-incorrect .formulario__label {
	color: #bb2929;
}

.form__group-incorrect .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.form__group-incorrect .form__input {
	border: 3px solid #bb2929;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}