.formulario{
    font-size: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.sendBottom{
    color: white;
    background-color: black;
    border-color: black;
    font-size: 26px;
}

.sendBottom:hover{
    opacity: 0.7;
}
