body{
    background-color: $bgFondo;
}


header{
    h1{
        font-size: 60px;
        font-family: 'Bangers', cursive;
        font-style: normal;
        padding-left: 30px;
        padding-bottom: 20px;
        text-decoration: underline $bgUnderline;
    }

    nav{
        font-size: 23px;
        font-style: normal;
        padding: 0px 120px 0 0px;
        margin-right: auto;
        margin-left: auto;
        font-family: 'Bangers', cursive;
        @media screen and (max-width: 480px) {
            flex-direction: column;
        }
    }
}

footer{
    font-style: normal;
    padding: 20px;
    padding-left: 20px;
    font-family: 'Bangers', cursive;
    margin: 8px 8px;
}

.lupa{
    height: 24px;
}

.instagram{
    height: 60px;
    padding: 0px;
    list-style: none;
}

.instagram:hover{
    background-color: #cc2199;
}

.facebook{
    height: 60px;
    align-content: flex-start;
}

.facebook:hover{
    background-color: #3b5998;
}

.youtube{
    height: 60px;
}

.youtube:hover{
    background-color: #c4302b;
}

.slideIndex{
    height: 420px;
    width: 1024px;
    padding: 20px;
    margin: 20px;
}

.informaciónUtil{
    grid-area: información;
    font-size: 28px;
    text-align: justify;
    padding-top: 40px;
}

.contacto{
    grid-area: contacto;
    font-size: 28px;
    text-align: justify;
    padding-top: 40px;
}


.copyright{
    grid-area: copyright;
}

.linksFooter{
    text-decoration: none;
    color: black;
    font-size: 20px;    
}

.linksFooter:hover{
    text-decoration: none;
    color: white;
}

.redes{
    grid-area: redes;
    font-size: 28px;
    text-align: justify;
    padding-top: 40px;
}

.mapa{
    grid-area: mapa;
    margin: 8px;
    padding-right: 120px;
    padding-top: 20px;
    width: 800px;
    max-width: 150%;
    height: 360px;
    max-height: 100%;
}

.endPage{
    display: grid;
    grid-template-areas: 
    "mapa información contacto redes"
    "mapa información contacto redes"
    "mapa copyright copyright copyright";
}

.mediaFlex{
    @include mediaFlex
}


@media screen and (max-width: 480px) {
    .mapa{
        width: 100%;
    }

    .endPage{
        @include flexMedia
    }
}

@media screen and (max-width: 768px) {
    .mapa{
        width: 100%;
    }

    .endPage{
        @include flexMedia
    }
}    