h3{
    font-size: map-get($h3 , h3-fontsize);
    text-decoration: map-get($h3 , h3-decoration);
    padding: map-get($h3 , h3-padding)
}

.ps4Flex{
    @extend %console-flex;
    @media screen and (max-width: 480px) {
        @include flexMedia;
    }
    @media screen and (max-width: 768px) {
        @include flexMedia;
    }
}

.ps5Flex{
    @extend %console-flex;
    @media screen and (max-width: 480px) {
        @include flexMedia;
    }
    @media screen and (max-width: 768px) {
        @include flexMedia;
    }
}

.switchFlex{
    @extend %console-flex;
    @media screen and (max-width: 480px) {
        @include flexMedia;
    }
    @media screen and (max-width: 768px) {
        @include flexMedia;
    }
}


ol{
    list-style: none;
}

ul{
    list-style: none;
}


.consoleMenu{
    font-size: 32px;
    font-style: normal;
    padding: 40px;
    text-decoration: underline black;
    margin: 16px 16px;
}

.gamesImage{
    height: 220px;
    width: 200px;
    padding: 12px;
    margin: 12px;
}

.gamesList{
    font-size: 18px;
    font-style: normal;
}

.cardSize{
    transition: transform .2s;
    height: 440px;
    outline: none;
    box-sizing: border-box;
    width: 240px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    @media screen and (max-width: 480px) {
        margin: 20px;
        height: 440px;
    }
    @media screen and (max-width: 768px) {
        margin: 20px;
        height: 440px;
    }
}

.cardSize:hover {
    transform: scale(1.1);
}

.cardButton{
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: black;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.cardButton:hover {
    opacity: 0.7;
}


.kindredImage{
    padding: 40px;
    margin: 40px;
    width: 800px;
    max-width: 100%;
    height: 450px;
}

.principalImage{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}